<div class="container">

  <div class="main">

    <h1>ToDo List</h1>

    <h2>Plan your task and Achive maximum productivity</h2>

    <br>

    <div id="first">

      <input (input)="addText($event)" id="inp">

      <button (click)="addTask()">Add Task</button>

    </div>

    <br>

    
      <div *ngFor="let i of tasks; let ind = index" id="task">
        <input type="checkbox" {input}="taskComplated()">

  <li style="list-style: none;">{{ i }}</li>

  <img src="close.png" style="cursor: pointer;" (click)="deleteTask(ind)">
 </div>
   <h1 *ngIf="tasks.length!=0">Completed Task</h1>
    <img *ngIf="tasks.length == 0" src="todu.png" width="300">

  </div>

</div>